<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <%- include('./partials/header.ejs')  %> 
    </header>
    <main> 
        <img src="/img/imagen-principal-home.jpg" alt="Imagen Principal" id="imagen-principal">
        <h3>Sección de ofertas</h3>
        <section class="ofertas">
                <article>
                    <a href="/productDetail">
                        <img src="/img/Adidas Nemeziz 19.jpg" alt="">
                        <div class="descripcion">
                            <h5> Adidas Nemeziz 19</h5>
                            <p> Terreno Firme </p>
                            <p> $38.000 </p>
                        </div>
                        </a>
                    <div>
                        <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                    </div>
                </article>
                <article>
                    <a href="/productDetail">
                        <img src="/img/Nike Superfly 8.jpg" alt="">
                        <div class="descripcion">
                            <h5> Nike Suprefly 8</h5>
                            <p> Terreno Firme </p>
                            <p> $38.000 </p>
                        </div>
                    </a>
                    <div>
                        <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                    </div>
                </article>
                <article>
                    <a href="/productDetail">
                        <img src="/img/Botines Nike Mercurial Vapor 13 Elite FG.jpg" alt="">
                        <div class="descripcion">
                            <h5> Nike Mercurial Vapor 13</h5>
                            <p> Terreno Firme </p>
                            <p> $38.000 </p>
                        </div>
                    </a>
                    <div>
                        <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                    </div>
                </article>
                <article>    
                    <a class= "imagen-de-producto" href="/productDetail">
                        <img src="/img/Botines Nike Tiempo Legend 8 Elite Fg.jpg" alt="">
                        <div class="descripcion">
                            <h5> Nike Tiempo Legend 8</h5>
                            <p> Terreno Firme </p>
                            <p> $38.000 </p>
                        </div>
                    </a>
                    <div>
                        <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                    </div>
                </article>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer.ejs')  %> 
    </footer>
</body>
</html>