<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="\css\Login.css">
</head>
<body>
    <header>
        
        <%- include('./partials/header.ejs')  %> 
    </header>
    <main>
        <section>
            <h1> Ingresa tu cuenta:</h1>
            <form action="/" method="post" class="formulario-registro">
                <label for="email"> Email</label>
                <input type="email" name="email" required>
                <label for="contraseña"> Contraseña </label>
                <input type="password" name="contraseña" required>
                <input type="checkbox" id="check" name="check">
                <div class="botones">
                    <button type="submit"> Ingresar </button>
                    <button type="reset"> Borrar </button> 
                      
                </div>
               
            </form>
            <article class="enlaces">
                <p>¿Olvidaste tu contraseña? Podes recuperarla haciendo click <a href="#">aquí</a></p>
                <p>Si todavía no tenés una cuenta, hace click <a href="/register">aquí</a></p>    
                 
            </article>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer.ejs')  %> 
    </footer>
</body>
</html>