<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="\css\list.css">
</head>
    <body>
        <header>
            <%- include('./partials/header.ejs')  %> 

        </header>
        <main>
            <a href="create"><i class="fa-solid fa-plus"></i></a>
            <section> 
                <h3>Adidas</h3>
                <section class="ofertas">
                        <article>
                            <a href="/productDetail">
                                <img src="/img/Adidas Nemeziz 19.jpg" alt="">
                                <div class="descripcion">
                                    <h5> Adidas Nemeziz 19</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                
                                </div>

                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Botines Adidas Predator 19.3.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Adidas Predator 19.3</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Botines Adidas Predator 20.3.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Adidas Predator 20.3</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>    
                            <a class= "imagen-de-producto" href="/productDetail">
                                <img src="\img\Botines Adidas Predator Edge.3.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Adidas Predator Edge.3</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                </section>
            </section>
            <section>
                <h3>Nike</h3>
                <section class="ofertas">
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Nike Phantom Vision.jpg" alt="">
                                <div class="descripcion">
                                    <h5> Nike Phantom Vision</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>

                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="/img/Nike Superfly 8.jpg" alt="">
                                <div class="descripcion">
                                    <h5> Nike Suprefly 8</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="/img/Botines Nike Mercurial Vapor 13 Elite FG.jpg" alt="">
                                <div class="descripcion">
                                    <h5> Nike Mercurial Vapor 13</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>    
                            <a class= "imagen-de-producto" href="/productDetail">
                                <img src="/img/Botines Nike Tiempo Legend 8 Elite Fg.jpg" alt="">
                                <div class="descripcion">
                                    <h5> Nike Tiempo Legend 8</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                </section>
            </section>

            <section>
                <h3>Puma</h3>
                <section class="ofertas">
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Botines Puma Ultra-3.1.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Puma Ultra-3.1</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Botines Puma Ultra Eclipse.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Puma Ultra Eclipse</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>
                            <a href="/productDetail">
                                <img src="\img\Botines Puma Ultra 4.2.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Puma Ultra 4.2</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                        <article>    
                            <a class= "imagen-de-producto" href="/productDetail">
                                <img src="\img\Botines Puma King.jpg" alt="">
                                <div class="descripcion">
                                    <h5>Puma King</h5>
                                    <p> Terreno Firme </p>
                                    <p> $38.000 </p>
                                </div>
                                <div class="contenedor">
                                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
                                    <a href="edits"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </a>
                        </article>
                </section>
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs')  %> 
        </footer>
    </body>
</html>
