@import url(footer.css);
@import url(header.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E7E7E7;
    font-family: "Heebo";
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

#imagen-principal {
    width: 100%;
    height: 50%;
    margin: 20px 0px 20px 0px;
}

h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.prueba1:hover,
.prueba2:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.prueba1{
    text-align: center;
    display: block;
    align-items: center;
    background-color: white;
    height: 72%;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 20%;
    transition: box-shadow 450ms
}

.prueba2{
    text-align: center;
    display: block;
    align-items: center;
    background-color: white;
    height: 72%;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 10%;
    transition: box-shadow 450ms
}

.prueba3{
    text-align: left;
    display: block;
    align-items: center;
    font-size: 15px;
    background-color: white;
    height: 72%;
    width: 80%;
    padding: 5%;
    position: relative;
    left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.linial{
    display: flex;
    justify-content: space-around;
}

.minimagenes{
 margin: 0rem;
}

.minimagenes1{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
.minimagenes2{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
.minimagenes3{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
   


div a {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 5px;

}

.descripcion {
    width: 100%;
}

article div {
    width: 100%;
}

article img {
    width: 100%;
    
}

.verde{
    background-color:#248232 ;
    color: #fff;
}


.agregar-carrito {
    margin: 10px 0px;
    color: white;
    background-color: #248232;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: box-shadow 450ms
}

.agregar-carrito:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@media screen and (min-width: 768px) {

    article img {
        width:100%;
    }

    .prueba1{
        text-align: center;
        display: block;
        background-color: white;
        height: 72%;
        width: 55%;
        margin-top: 10%;
        
    }


    .prueba2{
        text-align: center;
        display: block;
        background-color: white;
        height: 16%;
        width: 55%;
        margin-bottom: 10%;
        border-top: 1px solid #111;
    }
    
    .prueba3{
        text-align: left;
        display: block;
        background-color: white;
        height: 80%;
        width: 55%;
        padding: 2%;
    }


    .productComple{
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: -8.5%;
    }
}

@media screen and (min-width: 1280px) {
    article img {
        width: 68%;
    }

    .prueba1{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 67vh;
        width: 30%;
        position: relative;
        left: 44%;
        margin-bottom: 10%;
        border: 1px solid #111;
        
    }
    
    .prueba2{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 67vh;
        width: 30%;
        position: relative;
        left: 45.5%;
        margin-bottom: 0%;
        border: 1px solid #111;
    }
    
    .prueba3{
        text-align: left;
        display: block;
        background-color: white;
        height: 67vh;
        width: 30%;
        position: relative;
        left: -48%;
        padding: 2%;
        border: 1px solid #111;
    }

    .empuje{
        margin-top: 10%;
        margin-bottom: 25%;
    }

    .formulario{
        font-size: 1.5rem;
    }

    .diseño{
        font-size: 1.5rem;
    }

    .descripcion{
        position: absolute;
        bottom: 30%;
        font-size: 1.5rem;
    }
    
    .agregar-carrito {
        margin: 10px 0px;
        color: white;
        background-color: #248232;
        padding: 8px;
        border: none;
        border-radius: 5px;
        transition: box-shadow 450ms;
        position: absolute;
        bottom: 11%;
        left: 27%;
        font-size: 1.5rem;
    } 


    .productComple{
        margin-bottom: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

   

}
