.main{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-image: url("../../public/imagen-principal-home.jpg");
  }
  
.links{
  background-color: #E7E7E7;
  border: 2px solid black;
  padding: 3rem 0;
  margin: .5rem 0;
  width: 50vw;
  font-family: "Heebo";
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight:bold;
  text-align: center;
}
