.img{
  width: 30vw;
  margin-right: 3rem;
}
.user{
    margin-top: 1rem;
    border: 2px solid black;
    padding: 1rem 0;
    width: 40vw;
    font-family: "Heebo";
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align:center
  }
  .h2{
    text-decoration: underline;
  }

  