.main{
  background-color: #E7E7E7;
  padding-bottom: 3rem;
  
}

.img{
  margin-top: 3rem;
  width: 30vw;
}
.user{
    padding-top: 3rem;
    text-align:center
  }
  .h2{
    text-decoration: underline;
    
    margin-bottom: 2rem;
  }

  .links{
    font-family: "Heebo";
    font-size: 20px;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin-left: 1rem;
    margin-top:10rem;
  }