
.img{
    width: 30vw;
    margin-right: 3rem;
  }
  .product{

      border: 2px solid black;
      padding: 1rem 0;
      width: 80vw;
      font-family: "Heebo";
      text-decoration: none;
      color: black;
      font-size: 20px
    }
    .h2{
      text-decoration: underline;
    }

    .links{
      font-family: "Heebo";
      text-decoration: none;
      color: black;
    }