
    <article class="textos">
        <p> Términos de uso</p>
        <p> Política de privacidad </p>
        <p>© 2022 FutbolXI, Inc. Todos los derechos reservados.</p>
    </article>
    <article>
        <h5 id="color">Nuestra Ubicación</h5>
        <img id="ubi" src="/img/ubicacionMap.png">
    </article>
    
    <article>
        <img id="metopago" src="/img/metodo de pago.png">
    </article>

    <article class="iconos-redes">
        <a href="https://twitter.com/" target="_blank" class="logo-twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="logo-instagram"> <i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/" class="logo-facebook" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a>
    </article>

