<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Futbol XI </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productDetail/stylesProductDetail.css">
</head>
    <body>
        <header>
            <nav class="encabezado">
                 <a href="/" class="imagen-logo"><img src="/img/logo-futbolXI.png" alt="Logo Futbol XI"  class="imagen-logo"></a>
                <form action="/" method="get" class="searchbar"> 
                    <input  type="text"  placeholder="Buscar productos,marcas">
                    <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                </form>
                <a href="/productCart" id="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login" id="usuario"><i class="fa-solid fa-user"></i></a>
            </nav>  
            <nav class="imagenes-marcas">
                <a href="\productList"><img src="/img/logo-adidas.png" alt="Logo Adidas" id="logo-adidas"></a>
                <a href="\productList"><img src="/img/logo-nike.png" alt="Logo Nike" id="logo-nike"></a>
                <a href="\productList"><img src="/img/logo-puma.jpg" alt="Logo Puma" id="logo-puma"></a>
            </nav>
        </header>
        <main> 
            
            <section class="productComple">
                    
                    <article class="prueba1">

                        <picture>
                            <img src="/img/Adidas Nemeziz 19.jpg" alt="">
                        </picture>

                        <article class="minimagenes">
                            <img class="minimagenes1" src="/img/Adidas Nemeziz 19.jpg">
                            <img class="minimagenes2" src="\img\Adidas Nemeziz-19.2.jpg">
                            <img class="minimagenes3" src="\img\Adidas Nemeziz-19.3.jpg">
                        </article>
            
                    </article>
                    

                    <article class="prueba2">
                        <h2 class="empuje">Adidas Nemeziz 19</h2>
                        <section class="linial">
                            <article class="formulario">
                                <label>Talle</label>
                                    <select name="TalleDecCalzado" class="diseño">
                                        <option value="Talla">30</option>
                                        <option value="Talla">31</option>
                                        <option value="Talla">32</option>
                                        <option value="Talla">33</option>
                                        <option value="Talla">34</option>
                                        <option value="Talla">35</option>
                                        <option value="Talla">36</option>
                                        <option value="Talla">37</option>
                                        <option value="Talla">38</option>
                                        <option value="Talla">39</option>
                                        <option value="Talla">40</option>
                                        <option value="Talla">41</option>
                                        <option value="Talla">42</option>
                                    </select>
                            </article>
                            <br>
                            <article class="formulario">
                                <label>Cantidad</label>
                                    <select name="CantidaDeBot" class="diseño">
                                        <option value="Cant">1</option>
                                        <option value="Cant">2</option>
                                        <option value="Cant">3</option>
                                        <option value="Cant">4</option>
                                        <option value="Cant">5</option>
                                    </select>
                            </article>
                        </section>
                        

                        <div class="descripcion">
                            <p> Tipo de terreno: Firme </p>
                            <p> Precio: $38.000 </p>
                        </div>

                        <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                        

                    </article>

                    <article class="prueba3">
                        <h3>DETALLES:</h3>
                        
                        <p>No estás engañando el sistema, simplemente manipulás las reglas. Encontrá tu ventaja competitiva y transforma tu juego con el totalmente renovado calzado Adidas Nemeziz 19. Este botin de fútbol presenta un exterior suave con un diseño de corte medio que sujeta y estabiliza el tobillo. Elementos en relieve sobresalen en el empeine para ayudarte a darle más curva a la pelota. Tomá el control con los botines Nemeziz 19 para terreno firme.</p>                    
                    </article>

            </section>
        </main>
        <footer>
            <article class="textos">
                <p> Términos de uso</p>
                <p> Política de privacidad </p>
                <p>© 2022 FutbolXI, Inc. Todos los derechos reservados.</p>
            </article>
            <article class="iconos-redes">
                <a href="#" class="logo-twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="logo-instagram"> <i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="logo-facebook"><i class="fa-brands fa-facebook-f"></i></a>
            </article>
        </footer>
    </body>
</html>
