*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer {
    position: relative;
    background-color: #248232;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


footer p {
    font-size: 13px;
    display:block;
    margin: 0.6125rem .3125rem;
    color: white;
}

.iconos-redes {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin-bottom: 1rem;
}

.iconos-redes a i {
    color: white;
}


.ubicacion{
    display: none;
}


#metopago img{
    width: 80vw;
    max-width: 350px;
}
.logo-twitter {
    position: relative;
    padding: 0.3125rem ;
    background-color: black;
    border-radius: 3.125rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.logo-facebook {
    position: relative;
    padding: 0.3125rem ;
    background-color: black;
    border-radius: 3.125rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.logo-instagram {
    position: relative;
    padding: 0.3125rem ;
    background-color: black;
    border-radius: 3.125rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .iconos-redes {
        position: relative;
        left: 2rem;
        font-size: 1.1rem;
        width: 13vw;
        align-items: center;
    }
}

@media screen and (min-width: 1280px) {
    .textos{
        margin-top: 1.2rem;

    }
    .textos p{
        font-size: 0.9rem;
    }
    .iconos-redes {
        position: relative;
        left: 3rem;
        width: 15vw;
    }

    .ubicacion{
        display: block;
        color: white;
   
    }
    .ubicacion img{
        width: 10vw;
    }
    .logo-twitter {
        display: flex;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        justify-content: center
    }
    .logo-facebook {
        display: flex;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        justify-content: center
    }
    .logo-instagram {
        display: flex;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        justify-content: center;
    }
    .fa-brands{
        font-size: 1.3rem
    }
}
