<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/error-404.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <title> ERROR 404 </title>

</head>
<body>
    <header>
        <%- include('./partials/header.ejs')  %> 
    </header>
    <main> 
        <section>
            <h1>Ups! No pudimos encontrar la página, podes intentarlo nuevamente o <a href="/">volver al Home</a></h1>
        <article>
            <img src="/img/messi-404.jpg" alt="">
        </article>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer.ejs')  %> 
    </footer>
</body>
</html>