<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/editsStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 

    </header>
    <main>
        <section>
            <h1> Editar producto</h1>
            <form action="/" method="post" class="formulario-registro">
                <label for="nombre-producto"> Nombre del producto </label>
                <input type="text" name="nombre-producto" required>
                <label for="descri"> Descripción </label>
                <input type="text" name="descri" required>
                <label for="categoria"> Tipo de Terreno </label>
                <input type="text" name="categoria" required>
                <label for="talla"> Talla </label>
                <input type="number" name="talla" required>
                <label for="Price"> Precio </label>
                <input type="number" name="Price" required>
                <label for="imagen-product"> Imagen </label>
                <input type="file" name="imagen-product" required>
                <div class="botones">
                    <button type="submit"> Editar </button>
                    <button type="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>