<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <title> Carrito de Compras </title>

<body>
    <header>
        
        <%- include('../partials/header.ejs')  %> 
    </header>
    <main>
        <section class="carrito"> 
            <h3> Tu Carrito:</h3>
            <p> Items: 4</p>
            <p> Total: $152.000 </p>
        </section>
        <section class="ofertas">
            <article>
                <a href="/productDetail/">
                    <img src="/img/Botines/Adidas Nemeziz 19.jpg" alt="">
                    <div class="descripcion">
                        <h5> Adidas Nemeziz 19</h5>
                        <p> Terreno Firme </p>
                        <p> $38.000 </p>
                    </div>
                    </a>
                <div>
                    <button type="submit" class="agregar-carrito">Remover</button>
                </div>
            </article>
            <article>
                <a href="/productDetail/">
                    <img src="/img/Botines/Nike Superfly 8.jpg" alt="">
                    <div class="descripcion">
                        <h5> Nike Suprefly 8</h5>
                        <p> Terreno Firme </p>
                        <p> $38.000 </p>
                    </div>
                </a>
                <div>
                    <button type="submit" class="agregar-carrito">Remover</button>
                </div>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="/img/Botines/Botines Nike Mercurial Vapor 13 Elite FG.jpg" alt="">
                    <div class="descripcion">
                        <h5> Nike Mercurial Vapor 13</h5>
                        <p> Terreno Firme </p>
                        <p> $38.000 </p>
                    </div>
                </a>
                <div>
                    <button type="submit" class="agregar-carrito">Remover</button>
                </div>
            </article>
            <article>    
                <a class= "imagen-de-producto" href="/productDetail">
                    <img src="/img/Botines/Botines Nike Tiempo Legend 8 Elite Fg.jpg" alt="">
                    <div class="descripcion">
                        <h5> Nike Tiempo Legend 8</h5>
                        <p> Terreno Firme </p>
                        <p> $38.000 </p>
                    </div>
                </a>
                <div>
                    <button type="submit" class="agregar-carrito">Remover</button>
                </div>
            </article>
    </section>
    <div class="ultimo-boton">
        <button type="submit" class="comprar-carrito"> Comprar Carrito </button>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>