@import url(liststyles.css);

footer {
    position: relative;
    background-color: #248232;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}
.textos {
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.iconos-redes {
    font-size: 1.2rem;
}

.iconos-redes a i {
    color: white;
}


.logo-twitter {
    position: absolute;
    bottom: 30px;
    right: 85px;
    padding: 5px 8px;
    background-color: black;
    border-radius: 50px;
    align-items: flex-start;
    width: 34px;
    height: 34px;
}

.logo-instagram {
    position: absolute;
    bottom: 30px;
    right: 45px;
    padding: 4px 9px;
    background-color: black;
    border-radius: 50px;
    align-items: flex-start;
    width: 34px;
    height: 34px;
}

.logo-facebook {
    position: absolute;
    bottom: 30px;
    right: 5px;
    padding: 5px 11px;
    background-color: black;
    border-radius: 50px;
    align-items: flex-start;
    width: 34px;
    height: 34px;
}

@media (min-width: 768px) {
    .textos {
        font-size: 0.8rem;
    }

    .logo-twitter {
        right: 100px;
    }

    .logo-instagram {
        right: 55px;
    }

    .logo-facebook {
        right: 10px;
    }
}