<nav class="encabezado">
    <a href="/" class="imagen-logo"><img src="/img/logo-futbolXI.png" alt="Logo Futbol XI"  class="imagen-logo"></a>
  
   <form action="/" method="get" class="searchbar"> 
       <input  type="text"  placeholder="Buscar productos,marcas">
       <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
   </form>
</nav>  
<nav>  
   <% if (user) { %> 
    <ul>
        <li class="user"> <a href="/userProfile/<%= user.id %> "> Bienvenido  <%=user.nombre%> <%=user.apellido%> </a> <a href="/logout"> <i class="fa-solid fa-door-open"></i> </h5></li>
        <li class="navbar1  "> <a href="/productList"> Todas las Marcas </a></li>
        <li> <a href="/productCart" id="carrito"> <i class="fa-solid fa-cart-shopping"></i> </a></li>
    </ul>
        <% }else{ %> 
            <ul>
               <li class="navbar1"><a href="/productList"> <h4>Todas las Marcas</h4> </a></li> 
               <li><a href="/login" id="usuario"><i class="fa-solid fa-user"></i></a></li>
               <li><a href="/productCart" id="carrito"><i class="fa-solid fa-cart-shopping"></i></a> </li>  
            </ul>
            
    <% } %> 
   
</nav>  
<nav class="imagenes-marcas">
   <a href="/productList/Adidas"><img src="/img/logo-adidas-blanco.png" alt="Logo Adidas" id="logo-adidas"></a>
   <a href="/productList/Nike"><img src="/img/logo-nike-blanco.jpg" alt="Logo Nike" id="logo-nike"></a>
   <a href="/productList/Puma"><img src="/img/logo-puma-blanco.jpg" alt="Logo Puma" id="logo-puma"></a>
</nav>