<article>
    <a href="/productDetail">
        <img src="img/Botines/<%- elemento.imagen  %> " alt="">
        <div class="descripcion">
            <h5> <%= elemento.nombre %></h5>
            <p> Terreno Firme </p>
            <p> <%= elemento.precio %> </p>
        </div>
        </a>
        <div class="contenedor">
            <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
            <a href="edits"><i class="fa-solid fa-pencil"></i></a>
        </div>
</article>

