<article class="textos">
    <p> Términos de uso</p>
    <p> Política de privacidad </p>
    <p>© 2022 FutbolXI, Inc. Todos los derechos reservados.</p>
</article>
<article class="iconos-redes">
    <a href="#" class="logo-twitter"><i class="fa-brands fa-twitter"></i></a>
    <a href="#" class="logo-instagram"> <i class="fa-brands fa-instagram"></i></a>
    <a href="#" class="logo-facebook"><i class="fa-brands fa-facebook-f"></i></a>
</article>