@import url(stylesProductDetail.css);

body {
    background-color: #AADDBB;
    font-family: Heebo;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

#imagen-principal {
    width: 100%;
    height: 50%;
    margin: 20px 0px 20px 0px;
}

h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}

section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

section article{
    transition: box-shadow 450ms
}


.prueba1{
    text-align: center;
    display: block;
    align-items: center;
    background-color: white;
    height: 72%;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 20%;
    
}

.prueba2{
    text-align: center;
    display: block;
    align-items: center;
    background-color: white;
    height: 72%;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 10%;
}

.prueba3{
    text-align: center;
    display: block;
    align-items: center;
    background-color: white;
    height: 72%;
    width: 80%;
    padding: 5%;
    position: relative;
    left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.posi{
    display: block;
    background-color: #fff;
    text-align: center;
    width: 80%;
    margin-top: 10%;
    position: absolute;
    left: 7.3%;
    top: 22%;
}

.linial{
    display: flex;
    justify-content: space-around;
}

.minimagenes{
 margin: 0rem;
}

.minimagenes1{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
.minimagenes2{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
.minimagenes3{
    width: 30%;
    height: 30%;
    border: 1px solid #111;
}
   


div a {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 5px;

}

.descripcion {
    width: 100%;
}

article div {
    width: 100%;
}

article img {
    width: 100%;
    border-top: 1px solid #111;
}

.verde{
    background-color:#248232 ;
    color: #fff;
}


.agregar-carrito {
    margin: 10px 0px;
    color: white;
    background-color: #248232;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: box-shadow 450ms
}

.agregar-carrito:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@media (min-width: 768px) {

    article img {
        width: 100%;
    }

    .prueba1{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 72%;
        width: 40%;
        position: relative;
        left: 48.5%;
        margin-top: 12.5%;
        margin-bottom: 10%;
        
    }
    
    .prueba2{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 16%;
        width: 78.5%;
        position: absolute;
        left: 10%;
        bottom: -16.4%;
        margin-bottom: 10%;
        border-top: 1px solid #111;
    }
    
    .prueba3{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 54.5%;
        width: 38.4%;
        padding: 2%;
        position: absolute;
        left: 10%;
        top: 25.8%;
        border-top: 1px solid #111;
    }

    .posi{
        display: block;
        background-color: #fff;
        text-align: center;
        width: 78.6%;
        margin-top: 10%;
        position: absolute;
        left: 8.6%;
        top: 22%;
    }

    .productComple{
        margin-bottom: 25%;
    }
}

@media (min-width: 1280px) {
    article img {
        width: 100%;
    }

    .prueba1{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 70%;
        width: 30%;
        position: relative;
        left: 35.5%;
        margin-top: 12.5%;
        margin-bottom: 10%;
        border: 1px solid #111;
        
    }
    
    .prueba2{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 67.3%;
        width: 29%;
        position: absolute;
        left: 69%;
        bottom: -28.4%;
        margin-bottom: 10%;
        border: 1px solid #111;
    }
    
    .prueba3{
        text-align: center;
        display: block;
        align-items: center;
        background-color: white;
        height: 67.3%;
        width: 30%;
        padding: 2%;
        position: absolute;
        left: 2%;
        top: 27.6%;
        border: 1px solid #111;
    }

    .posi{
        display: block;
        background-color: #fff;
        text-align: center;
        width: 27.5%;
        z-index: 15;
        position: absolute;
        left: 69%;
        top: 30%;
        font-size: 1.5rem;
        border: 1px solid #111;
    }

    .ubi{
        
        position:absolute;
        bottom: 55%;
        right: 18%;
    }

    .diseño{
        font-size: 1.5rem;
    }
    

    .linial{
        font-size: 1.5rem;
        
    }

    

    .descripcion {
        width: 100%;
        position:absolute;
        bottom: 30%;
        font-size: 1.5rem;
    }


    .agregar-carrito {
        margin: 10px 0px;
        font-size: 1.5rem;
        color: white;
        background-color: #248232;
        padding: 8px;
        border: none;
        border-radius: 5px;
        transition: box-shadow 450ms;
        position:absolute;
        bottom: 6%;
        left: 26%; 
    }

    .productComple{
        margin-bottom: 25%;
    }


}
