@import url(stylesRegister.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;       
}

header {
    background-color: #248232;
}

.encabezado {
    display: flex;
    justify-content: center;
}

.imagen-logo {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 40px;
    height: 40px;
}

.searchbar {
    position: relative;
    background-color: white;
    margin-top: 10px;
    width: 50%;
    margin-right: 15px;
}

.searchbar input , 
.searchbar button {
    background-color: white;
    border: none;
}

.searchbar button {
    position: absolute;
    top: 5px;
    right: 5px;
}

#usuario {
    position: absolute;
    top: 5px;
    right: 45px;
    color: white;
    padding: 5px 10px;
    background-color: black;
    border-radius: 50px;
    width: 34px;
    height: 34px;
}

#carrito {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 5px 8px;
    background-color: black;
    border-radius: 50px;
    width: 34px;
    height: 34px;
}

.imagenes-marcas {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.imagenes-marcas a img {
    margin: 20px 0px 15px 0px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#logo-nike {
    width: 90%;
    height: 55px;
    margin-top: 28px;
}

#logo-puma {
    width: 90%;
    height: 55px;
    margin-top: 25px;
}

#logo-adidas {
    width: 90%;
    height: 63px;
    margin-top: 22px;
}

@media (min-width: 768px) {
    #logo-nike {
        width: 100%;
        height: 60px;
        margin-top: 28px;
    }
    
    #logo-puma {
        width: 100%;
        height: 60px;
        margin-top: 25px;
    }
    
    #logo-adidas {
        width: 100%;
        height: 70px;
        margin-top: 22px;
    }

    .imagen-logo {
        width: 60px;
        height: 60px;
    }

    .searchbar {
        margin-top: 20px;
        margin-right: 0px;
    }

    #carrito {
        top: 15px;
        right: 10px;
    }

    #usuario {
        top: 15px;
        right: 50px;
    }
}
