<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="\css\login.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <script src="/js/validacionLogin.js"defer></script>
    <title> Login </title>

<body>
    <header>
        
        <%- include('../partials/header.ejs')  %> 
    </header>
    <main>
        <section class="footerout">
            <h1> Ingresa tu cuenta:</h1>
            <form action="/access" method="post" class="formulario-registro">
                <label for="email"> Email</label>
                <input type="email" name="email" class="email" required>
                <div class="errores" id="errorEmail">
                <label for="clave"> Contraseña </label>
                <input type="password" name="clave"class="password" required>
                <div class="errores" id="errorPassword">
                <label for="check"> Recuerda mi contraseña</label>
                <input type="checkbox" id="check" name="check">
                <div class="botones">
                    <button type="submit"class="login"> Ingresar </button>
                    <button type="reset"> Borrar </button> 
                </div>
            </form>
            <article class="enlaces">
                <p>¿Olvidaste tu contraseña? Podes recuperarla haciendo click <a href="#">aquí</a></p>
                <p>Si todavía no tenés una cuenta, hace click <a href="/register">aquí</a></p>    
                 
            </article>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>